[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
PartOf=graphical-session.target

[Service]
Type=simple
Restart=on-failure
Environment=DISPLAY=
ExecStart=/usr/bin/emacs --fg-daemon=main
ExecStop=/usr/bin/emacsclient --socket-name=main --eval "(kill-emacs)"

[Install]
WantedBy=default.target
