[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=simple
ExecStart=/usr/bin/emacs --fg-daemon=main
ExecStop=/usr/bin/emacsclient --socket-name=main --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
