[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
Wants=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/emacs --fg-daemon=main
ExecStop=/usr/bin/emacsclient --socket-name=main --eval "(kill-emacs)"

[Install]
WantedBy=default.target
