[Unit]
Description=Synchronize Orage Calendar
 
[Service]
Type=oneshot
ExecStart=/bin/bash %h/.config/orage/sync-calendar
 
[Install]
WantedBy=basic.target
