[Unit]
Description=Synchronize Orage Calendar
 
[Service]
Type=oneshot
ExecStart=/bin/bash %h/.local/bin/orage-calendar-sync
 
[Install]
WantedBy=basic.target
