[Unit]
Description=User-level daemon for auto-mounting
Documentation=man:udiskie(8)
PartOf=graphical-session.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/udiskie --automount --notify --smart-tray

[Install]
WantedBy=default.target
