#!/bin/bash

# Determine scale from screen size.
if [[ $(xdpyinfo | awk '/dimensions/ {print $2}' | awk -F 'x' '{print $2}') -lt 1200 ]]
then SCALE=1.17
else SCALE=1.67
fi

# Shared variables.
DPI=$(echo "96 * ${SCALE}" | bc)

# Set configuration defaults.
xrdb -merge ${HOME}/.Xresources

# Set display scaling.
gsettings set org.gnome.desktop.interface text-scaling-factor "${SCALE}"
printf '*dpi: %f\nXft.dpi: %f' "${DPI}" "${DPI}" | xrdb -merge
xrandr --dpi "${DPI}"

# Set keyboard map toggle via Alt + Shift combination.
setxkbmap -model pc105 -layout us,gr -option grp:alt_shift_toggle,caps:escape
xset r rate 400 80
