# Account type, can be 'generic', 'gmail'.
TYPE=""

# Mail backend, can be 'notmuch' or 'mu'.
BACKEND=""

# Full name and username for login.
FULLNAME=""
USERNAME=""

# IMAP and SMTP server hostnames.
# Gmail accounts generally do not need to set these.
IMAP_HOSTNAME=""
SMTP_HOSTNAME=""
