# Account type, can be 'generic', 'gmail'.
TYPE="generic"

# Full name and username for login.
NAME="John Doe"
USER="john@doe.com"

# IMAP and SMTP server hostnames.
IMAP="imap.doe.com"
SMTP="smtp.doe.com"
