configuration {
	dpi: 1;
	font: "Iosevka 12";
	fullscreen: false;
	hide-scrollbar: true;
	lines: 10;
	matching: "fuzzy";
	separator-style: "none";
	sidebar-mode: false;
	terminal: "alacritty";
	theme: "default";
}
