[database]
path=${MAIL_DATADIR}

[user]
name=${FULLNAME}
primary_email=${USERNAME}

[new]
tags=new;not-notified;
ignore=.mbsyncstate;.uidvalidity;

[search]
exclude_tags=deleted;spam;

[maildir]
synchronize_flags=false

[crypto]
gpg_path=gpg
