[Desktop Entry]
Version=1.0
Type=Application
Name=ELinks
GenericName=Terminal Web Browser
Comment=Browse the Web with ELinks
TryExec=elinks
Exec=xdg-terminal-exec elinks %u
Icon=browser
Terminal=false
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=ConsoleOnly;Network;WebBrowser;
X-MultipleArgs=false
StartupNotify=true
