[Desktop Entry]
Version=1.0
Type=Application
Name=Emacs
GenericName=File Viewer
Comment=View files with Emacs
Exec=emacsclient --socket-name=server --alternate-editor=emacs %F
Terminal=false
StartupWMClass=Emacs
NoDisplay=true
