[Desktop Entry]
Version=1.0
Name=Khal Import
Comment=Imports ICS files into Khal
Type=Application
Terminal=false
Exec=xdg-terminal-exec khal import %F
MimeType=text/calendar;
NoDisplay=true
