[Desktop Entry]
Version=1.0
Name=Khal
GenericName=Calendar
Comment=Launches the Khal calendar application
Keywords=Calendar,PIM
Keywords=Calendar;Event;Reminder;
Categories=Office;Network;Calendar;ConsoleOnly
Type=Application
Icon=calendar
Terminal=true
Exec=ikhal
MimeType=text/calendar;
