[Desktop Entry]
Version=1.0
Type=Application
Name=NCMPCpp
GenericName=Music Player
Comment=Play Music with MPD
Exec=ncmpcpp
Icon=audio-x-generic
Terminal=true
Categories=ConsoleOnly;Audio
